<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Homepage</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>

  <!-- Nav  bar -->
  <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">MySite</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
      <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
      <li class="pure-menu-item"><a href="/survey" class="pure-menu-link">Survey</a></li>
    </ul>
  </div>






  <div class="pure-g" style="margin:2rem;">
    <div class="pure-u-1-3">
      <h1>Welcome!</h1>
      <p>hi</p>
    </div>
  </div>
<div>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Username</label>
            <input id="aligned-name" type="text" placeholder="Username" />
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>
        <div class="pure-control-group">
            <label for="aligned-password">Password</label>
            <input id="aligned-password" type="password" placeholder="Password" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-email">Email Address</label>
            <input id="aligned-email" type="email" placeholder="Email Address" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-foo">Supercalifragilistic Label</label>
            <input id="aligned-foo" type="text" placeholder="Enter something here..." />
        </div>
        <div class="pure-controls">
            <label for="aligned-cb" class="pure-checkbox">
                <input id="aligned-cb" type="checkbox" /> I&#x27;ve read the terms and conditions
            </label>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
</div>

</body>
</html>
